<?xml version="1.0"?>
<!--
/**
 * This source file is subject to the GNU General Public License (GNU version 3)
 * It is available through the world-wide-web at this URL:
 * https://www.gnu.org/licenses/gpl-3.0.en.html
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to sales@goivvy.com so we can send you a copy immediately.
 *
 * @component  Goivvyllc_CSS
 * @copyright  Copyright (c) 2025 GOIVVY LLC (https://www.goivvy.com)
 * @license    https://www.gnu.org/licenses/gpl-3.0.en.html GNU General Public License version 3
 * @author     Goivvy.com <sales@goivvy.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <goivvycss>
      <general>
       <enable>0</enable>      
      </general>
      <cut>
        <homepage>0</homepage>
        <homepage_file></homepage_file>
        <critical_homepage_file></critical_homepage_file>
        <category>0</category>
        <category_file></category_file>
        <critical_category_file></critical_category_file>
        <product>0</product>
        <product_file></product_file>
        <critical_product_file></critical_product_file>
        <custom>0</custom>
        <custom_url></custom_url>
        <custom_file></custom_file>       
        <critical_custom_file></critical_custom_file>
      </cut>  
    </goivvycss>   
  </default>
</config>
